

<div class="row">
    <div class="col-sm-8">
        <div class='heading'>
            <h5>Go Jupyter Face Attendance</h5>
        </div>

        <!--
        <label>Select Video Source (Camera)</label>
        <select id="video-source"></select>
        <label>Select Audio Source (Microphone)</label>
        <select id="audio-source"></select>
        <label>Live Preview:</label> -->

        <div class="select">
            <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
        </div>
        <div class="select">
            <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
        </div>
        <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
        </div>
        
        <div style="position: relative" class="margin">
            <video id="inputVideo" autoplay muted playsinline></video>
            <canvas id="overlay" />
        </div>
        <p id='error'></p>
        <canvas id="bigss" width="700" height="600"></canvas>
    </div>
    <div class="col-sm-4 box4">
        <div class="detail">
            <div class="test">
                <img class="image" id="real" src='' alt='scanning..' width="190" height="160"/>
                
                <img class="image" id="detect" src='' alt='scanning..' width="190" height="160"/>
                <p id="spoofResult"></p>
                <p id="realname"></p>
            </div>
            <div class="test">
                <img class="image" id="exp-pic" src='' alt='scanning..' width="190" height="160"/>
                <p id="exp"></p>
            </div>
            <div class="test">
                <img class="image" id="age-pic" src='' alt='scanning..' width="190" height="160"/>
                <p id="age"></p>
            </div>
        </div>
    </div>
</div>
<script>
    function reloadIt() {
        if (window.location.href.substr(-2) !== "?r") {
            window.location = window.location.href + "?r";
        }
    }
</script>

<%= javascript_pack_tag 'script3-16' %>


    