// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.heading {
    font-style: italic;
    padding-bottom: 30px;
    text-align: left !important;
}

#cover {
    border-radius: 8px;
}